/* Navbar Styling is from Bootstrap Website */


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

li {
    list-style-type: none;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover, .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover, .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

/* Fixing the padding of the left NavBar */

div.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark>a>span {
    padding-left: 0.5em;
}

div.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark>ul>li>a>img {
    padding-right: 0.5em;
}

div.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark>ul>li>a>svg {
    display: none;
}

body>main>div.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark>li>a>img {
    padding-right: 0.5em;
}

/* Styles for the Overview Page  */

#overview-window {
    background-color: #F7F8FC;
}

#centering-cont {
    padding: 2vh;
}

/* Making Text grey */

body > main > div.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark > ul > li > a > p, body > main > div.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark > a > span {
    display: inline-block;
    color:#A4A6B3;
}

body > main > div.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark > ul > li.nav-item > a > p {
    color: white;
}


/* Overview Bar */

#overview-bar {
    font-size: 25px;
    font-weight: 700;
}

#overview-icons>div:nth-child(4) {
    display: flex;
    align-items: center;
}

#overview-icons>div:nth-child(4)>p {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

div.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark>li>a>svg {
    display: none;
}

/* 4 Tickets Blocks */

#ticket_blocks {
    margin-top: 58px;
}

#card_title {
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #9FA2B4;
    padding-top: 24px;
    margin-bottom: 0;
}

#card_number {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #252733;
}

/* Todays Trends Window - Left Side */

#td_left_side>div:nth-child(1)>p {
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #252733;
    margin-top: 32px;
    margin-left: 8px;
}

#td_left_side {
    margin-bottom: 0;
}

/* Todays Trends Window - Right Side */

#td_right_side {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

#td_right_side>div {
    flex-grow: 1;
}

#td_right_side>div>p:nth-child(odd) {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #9FA2B4;
    margin: 0;
    align-self: center;
}

#td_right_side>div>p:nth-child(even) {
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #252733;
    margin: 0;
}

/* Unresolved Tickets */


#unresolved_and_tasks>article.col.bg-white.border.me-2.rounded-3>figure:nth-child(1)>div:nth-child(1)>p:nth-child(1) {
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #252733;
    margin: 0;
    margin-top: 32px;
}

#unresolved_and_tasks>article.col.bg-white.border.me-2.rounded-3>figure:nth-child(1)>div:nth-child(1)>p.col.text-end {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #3751FF;
    margin: 0;
    margin-top: 32px;
}

#unresolved_and_tasks>article.col.bg-white.border.me-2.rounded-3>figure:nth-child(1)>div:nth-child(2)>p:nth-child(1) {
    display: inline;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #9FA2B4;
}

#unresolved_and_tasks>article.col.bg-white.border.me-2.rounded-3>figure:nth-child(1)>div:nth-child(2)>p:nth-child(2) {
    display: inline;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #252733;
}

#left_items {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #252733;
    margin-top: 32px;
}

#right_items {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #9FA2B4;
    margin-top: 32px;
}

/* Tasks */

#unresolved_and_tasks>article:nth-child(2)>figure.col.me-3>div:nth-child(3)>p {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #C5C7CD;


}

#unresolved_and_tasks>article:nth-child(2)>figure.col.me-3>div:nth-child(3) {
    margin-top: 32px;
}

.form-check {
    margin-bottom: 1em;
}